.games-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.filters {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    width: 250px;
}

.filter-select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    background-color: #fff;
    width: 150px;
}

.games-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.games-table th,
.games-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.games-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.game-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-game-button, .order-game-button {
    margin-left: auto;
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-game-button:hover, .order-game-button:hover{
    background-color: #0069d9;
}

.games-table .available-row {
    background-color: #eaffea;
    cursor: pointer;
}

.games-table .unavailable-row {
    background-color: #ffeaea;
    cursor: pointer;
}